
@url fawoff awesomewoff;

@font-face {
	font-family: 'FontAwesome';
	src: fawoff format('woff');
	font-weight: normal;
	font-style: normal;
	} 

.fr-box.fr-inline .fr-command.fr-btn.html-switch {
	padding: 4px 4px;
	}

.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
	width: 22px;
	height: 22px;
	}

.fr-toolbar .fr-command.fr-btn i,
.fr-popup .fr-command.fr-btn i {
	margin: 4px 4px;
	}

.fr-toolbar .fr-command.fr-btn span,
.fr-popup .fr-command.fr-btn span {
	min-width: 22px;
	}

.fr-toolbar .fr-command.fr-btn img,
.fr-popup .fr-command.fr-btn img {
	margin: 4px 4px;
	}

.fr-toolbar .fr-command.fr-btn.fr-dropdown i,
.fr-popup .fr-command.fr-btn.fr-dropdown i,
.fr-toolbar .fr-command.fr-btn.fr-dropdown span,
.fr-popup .fr-command.fr-btn.fr-dropdown span,
.fr-toolbar .fr-command.fr-btn.fr-dropdown img,
.fr-popup .fr-command.fr-btn.fr-dropdown img {
	margin-left: 0px;
	margin-right: 8px;
	}

.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
	right: 0px;
	top: 9px;
	}

.fr-modal .fr-modal-wrapper {
	border-top: 0px;
	}

.fr-popup {
	border-top: 0px;
	}

.fr-popup.fr-above {
	border-bottom: 0px;
	}

.fr-toolbar {
	border-top: 0px;	
	background: transparent;
	}

.fr-image-resizer {
	display: none !important;
	}

.fr-toolbar.fr-top {
	box-shadow: none;	
	margin-bottom: 2px;
	}

.fr-box.fr-fullscreen .fr-toolbar.fr-top {		
	margin-bottom: 0px;
	background: white;
	}

.fr-box.fr-basic.fr-top.fr-fullscreen .fr-wrapper {		
	border-radius: 0; 
	resize: none !important;
	}

fr-toolbar.fr-inline.fr-above {
	border-bottom: 0px;	
	}

.fr-separator.fr-vs {
	 height: 18px;
	}

.fr-box.fr-basic.fr-top .fr-wrapper {
	resize: none !important;
	border: solid 1px #c0c0c0;
	padding: 0px;
	box-shadow: none;
	}

.fr-box .fr-video-resizer.fr-active {
	display: none;
	}

.fr-popup.fr-hidden {  
	display: none;
	}

.fr-wrapper .fr-placeholder {
	padding-top: 10px !important;
	padding-left: 10px !important;
	}

.fr-view[dir="rtl"] blockquote {
	border-color: #999999 !important;
	}

.fr-view[dir="rtl"] blockquote blockquote {
	border-color: #999999 !important;
	}

.fr-view[dir="rtl"] blockquote blockquote blockquote {
	border-color: #999999 !important;
	}

.fr-view blockquote {
	border-color: #999999 !important;
	color: black !important;
	}

.fr-view blockquote blockquote {
	border-color: #999999 !important;
	color: black !important;
	}

.atwho-container .atwho-view {
	z-index: 2147483640 !important;
	margin-top: 30px !important;
	}

.fr-view table.fr-table-with-borders td,
.fr-view table.fr-table-with-borders th {
	border: 1px solid #dddddd;
	}

.fr-fullscreen-wrapper {
	z-index: 90001 !important;
	}

/*ВНИМАНИЕ! Находящиеся ниже стили продублированы в файле froala_style.min.css!
 При обновлении редактора на новую версию необходимо в обновленных файлах css
 переопределить эти стили аналогичным образом 
*/
.fr-view blockquote blockquote blockquote {
	border-color: #999999 !important;
	color: black !important;
}

.fr-view table td,.fr-view table th {
	border: none
	}

/*ВНИМАНИЕ! Находящиеся выше стили продублированы в файле froala_style.min.css!
 При обновлении редактора на новую версию необходимо в обновленных файлах css
 переопределить эти стили аналогичным образом 
*/

